.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-background);
    border-radius: 0.5rem;
    padding: 1rem;
}
.dashboard h2 {
    width: 100%;
    color: white;
}
.dashboard-categories {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}
.dashboard-category {
    flex-basis: 33%;
    padding: 0 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.dashboard-category p {
    font-size: 3rem;
    color: white;
    font-weight: 600;
}
.weekly-goal {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.weekly-goal button {
    color: var(--light-gray);
    width: 1.5rem;
    height: 1.5rem;
}

/* weekly chart */
.weekly-chart-container {
    width: 30rem;
    height: 10rem;
}

/* responsive */
/* achievements */
@media (max-width: 850px) {
    .content-container {
        padding: 2.5rem 2.5rem 0 2.5rem;
    }
}
@media (max-width: 760px) {
    .weekly-chart-container {
        width: 26rem;
        height: 8rem;
    }
}
@media (max-width: 700px) {
    .weekly-chart-container {
        width: 18rem;
        height: 6rem;
    }
}
@media (max-width: 500px) {
    .dashboard-categories h3 {
        font-size: 0.8rem;
    }
    .dashboard-categories p {
        font-size: 2.5rem;
    }
}
@media (max-width: 450px) {
    .weekly-chart-container {
        width: 15rem;
        height: 5rem;
    }
    .weekly-goal {
        gap: 0;
    }
    .dashboard h2 {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 400px) {
    .content-container {
        padding: 2.5rem 1rem 0 1rem;
    }
    .dashboard-categories {
        flex-direction: column;
    }
}
