* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* background */
    --dark-background: #121212;
    --gray-background: #323232;
    /* solid colors */
    --white: #FFF;
    /* reusable */
    --dark-gray: rgb(99, 99, 99);
    --light-gray: rgb(204, 204, 204);
    --light-purple: rgb(180, 115, 255);
    --lightest-purple: rgb(210, 170, 255);
    /* hover */
    --menu-hover: rgba(255, 255, 255, 0.1);
}
.home-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.greeting h3 {
    color: var(--white);
}
.add-task-btn {
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--light-purple);
    transition: 0.1s;
    transform: rotate(-90deg);
}
.add-task-btn:hover {
    transition: 0.1s;
    transform: scale(1.1) rotate(-90deg);
}
.add-task-btn:active {
    transition: 0.3s;
    background-color: var(--light-gray);
}

/* AddTaskForm */
.add-task-form {
    position: absolute;
    right: 9rem;
    top: 5.8rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-background);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 0.8rem;
    z-index: 100;
}
input {
    border: none;
    outline: none;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--light-gray);
}
.add-task-form__submit {
    border: none;
    outline: none;
    margin-top: 1rem;
    background-color: var(--light-purple);
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem 0;
}

/* TasksList */ 
.tasks-list-container {
    padding: 3rem 0;
}
.sort {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sort ul {
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
}
.sort li {
    cursor: pointer;
}
.selected-sort {
    color: var(--lightest-purple);
    border-bottom: 1px solid var(--lightest-purple);
}

/* task */
.task-ul-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-background);
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    margin: 1rem 0;
}
.task-conten, .task-priority, .task-status, .task-date-time, .task-delete {
    position: relative;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 1.2rem;
    padding: 0.5rem;
    flex-basis: 15%;
    color: white;
    margin: 0 0.2rem;
}
.task-content {
    flex-basis: 30%;
}

.task-date-time {
    background-color: var(--dark-background);
    color: var(--white);
    padding-top: 0.8rem;
}
.task-time {
    font-size: 0.8rem;
}
.task-delete {
    flex-basis: 5%;
}
.task-delete img {
    width: 1rem;
}

/* TaskDropdown */
.task-dropdown {
    position: absolute;
    width: 100%;
    top: 3rem;
    left: 0;
}
.task-dropdown__option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    opacity: 0;
    animation: task-dropdown-option 0.2s forwards ease-in;
}
@keyframes task-dropdown-option {
    from {opacity: 0;}
    to {opacity: 1;}
}