* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    /* background */
    --dark-background: #121212;
    --gray-background: #323232;
    /* solid colors */
    --white: #FFF;
    /* reusable */
    --dark-gray: rgb(99, 99, 99);
    --light-gray: rgb(204, 204, 204);
    --light-purple: rgb(180, 115, 255);
    --lightest-purple: rgb(210, 170, 255);
    /* hover */
    --menu-hover: rgba(255, 255, 255, 0.1);
    /* scrollbar */
    --scrollbar: #222222;  
}
.home-container {
    width: 90%;
}

/* home header */
.home-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name-container {
    position: relative;
}
.name-container h3 {
    color: var(--white);
}
.edit {
    position: absolute;
    width: 0.8rem;
    top: 0;
    right: -1.5rem;
}
.edit-name-input {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 1.5rem;
    background-color: var(--dark-background);
    color: var(--light-gray);
    font-size: 1.2rem;
    font-weight: 600;
    border: 1px solid var(--light-gray);
}
.add-task-btn {
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--light-purple);
    transition: 0.1s;
    transform: rotate(-90deg);
}
.add-task-btn:hover {
    transition: 0.1s;
    transform: scale(1.1) rotate(-90deg);
}
.add-task-btn:active {
    transition: 0.3s;
    background-color: var(--light-gray);
}

/* AddTaskForm */
.add-task-form {
    position: absolute;
    right: 9rem;
    top: 5.8rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: var(--gray-background);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 0.8rem;
    z-index: 100;
}
input {
    border: none;
    outline: none;
    border-radius: 0.3rem;
    padding: 0.3rem 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--light-gray);
}
.add-task-form__submit {
    border: none;
    outline: none;
    margin-top: 1rem;
    background-color: var(--light-purple);
    color: var(--white);
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem 0;
}

/* TasksList */ 
.tasks-list-container {
    margin-top: 1.5rem;
}
.mark-done-btn {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.3rem;
    background: var(--light-purple);
}
.tasks-wrap {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 54vh;
}
::-webkit-scrollbar {
    width: 0.5rem;
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 50rem;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--gray-background);
}
.sort {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.sort ul {
    display: flex;
    gap: 0.5rem;
    font-size: 0.8rem;
}
.sort li {
    cursor: pointer;
}
.selected-sort {
    color: var(--lightest-purple);
    border-bottom: 1px solid var(--lightest-purple);
}

/* task */
.task-ul-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    background-color: var(--gray-background);
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
    margin: 1rem 0.2rem 1rem 0;
}
.task-ul-container:first-of-type {
    margin-top: 0.5rem;
}
.task-categories {
    display: flex;
    justify-content: space-between;
    flex-basis: 65%;
    gap: 0.5rem;
}
.task-priority, .task-status, .task-date-time, .task-delete, .task-check {
    position: relative;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    line-height: 1.2rem;
    padding: 0.5rem;
    color: white;
    flex-basis: 25%;
}
.task-content {
    padding: 0.7rem 0;
    flex-basis: 35%;
    min-height: 3rem;
    max-height: 3.1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.task-content:hover {
    padding: 0;
    overflow-y: visible;
    max-height: none;
    white-space: initial;
}
.task-date-time {
    background-color: var(--dark-background);
    color: var(--white);
    padding-top: 0.8rem;
}
.task-time {
    font-size: 0.8rem;
}
.task-delete, .task-check {
    flex-basis: 5%;
}
.task-delete img {
    width: 1rem;
}
.task-check img {
    margin-right: -0.5rem;
    width: 1.5rem;
}
/* TaskDropdown */
.task-dropdown {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding-top: 3rem;
}
.task-dropdown__option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border: 1px solid var(--white);
}

/* TaskHeadlines */
.task-headlines {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    margin-top: 1rem;
    text-align: center;
}
.task-headlines li { 
    flex-basis: 20.5%;
}
.task-headlines li:first-of-type {
    flex-basis: 35%;
}
.task-headlines li:last-of-type {
    flex-basis: 7.5%;
}

/* responsive */
@media (max-width: 1020px) {
    .task-headlines li { 
        flex-basis: 19.5%;
    }
    .task-headlines li:last-of-type {
        flex-basis: 8.5%;
    }
}
@media (max-width: 870px) {
    .add-task-form {
        right: 7rem;
        border: 1px solid var(--light-gray);
    }
    .task-headlines {
        display: none;
    }
    .tasks-list-container h3 {
        display: none;
    }
    .task-ul-container {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }
    .task-ul-container:first-of-type {
        margin-top: 1.5rem;
    }
    .task-content {
        position: relative;
        padding: 0;
        width: 100%;
    }
    .task-content::before {
        content: 'Task:';
        display: block;
        font-weight: 500;
        color: var(--white);
    }
    .task-categories {
        width: 100%;
    }
}
@media (max-width: 650px) {
    .add-task-form {
        right: 5rem;
        border: 1px solid var(--light-gray);
    }
}
@media (max-width: 610px) {
    .tasks-wrap {
        padding-left: 0.5rem;
    }
    .task-content {
        padding: 0;
        flex-basis: 35%;
        min-height: none;
        max-height: none;
        white-space: initial;
    }
}
@media (max-width: 500px) {
    .task-priority, .task-status, .task-date-time, .task-delete, .task-check {
        height: 2.5rem;
        padding: 1.5rem 0.5rem;
    }
}
@media (max-width: 450px) {
    .task-categories {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .task-priority {
        grid-column: 1 / 3;
    }
    .task-status {
        grid-column: 3 / 5;
    }
    .task-date-time {
        grid-column: 1 / 4;
    }
    .task-delete, .task-check {
        grid-column: 4;
    }
    .add-task-form {
        top: 10rem;
        right: 1.1rem;
        width: 18rem;
    }
}
@media (max-width: 366px) {
    .add-task-form {
        top: 10rem;
        right: 1.1rem;
        width: 15rem;
    }
}